.#*
*#
auto-save-listg
eln-cache/
elpa/
elpy/
emms/
eshell/
*.elc
*~
tramp
init.el
early-init.el
.last-package-update-day
.lsp-session-*
.dap-breakpoints
autoloads.el
lisp/autoload.el
lisp/lisp-autoloads.el
lisp/org-view-mode.el
package-quickstart.el
helm-adaptive-history
etc/.emacs.desktop.lock
etc/custom.el
etc/abbrev_defs
etc/places
etc/emms/
etc/bookmarks
transient/
emacs-vision/
network-security.data
nov-places
some-test
history
places
recentf
url/
games/
request/
