.#*
*#
auto-save-listg
.cask/
eln-cache/
elpa/
elpy/
emms/
eshell/
*.elc
*~
tramp
init.el
early-init.el
.last-package-update-day
.lsp-session-*
.dap-breakpoints
.org-id-locations
equake-persistent-display
projects
autoloads.el
lisp/autoload.el
lisp/site-autoloads.el
lisp/lisp-autoloads.el
lisp/org-view-mode.el
package-quickstart.el
helm-adaptive-history
etc/.emacs.desktop.lock
etc/custom.el
etc/abbrev_defs
etc/places
etc/emms/
etc/bookmarks
transient/
emacs-vision/
network-security.data
nov-places
some-test
history
places
recentf
url/
games/
request/
modules/
elc-cache/
elpa-bak/
devdocs/
devdocs-browser/
async-bytecomp.log
elpa-compile.log
elpa1.txt
al-db-packages
al-db-site-lisp
ff-db-emacs
ff-db-packages
helm-curl.log
